<!DOCTYPE html>
{% load static %}
    <head>
        <title>信息主页</title>
        <link rel="icon" type="image/x-icon" href="../static/img/logo.jpg"/>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    </head>
    <body>
        <div id="page" align="center">
            <form action="/result/" method="get">
                <!--{%csrf_token%}-->
                <img src="../static/img/logo.jpg"  alt="logo"  height="100" width="100"/>
                <br>
                <input type="text" name="text" placeholder="请输入关键词" value="" id="search"/>
                <input type="submit" value="查询一下" id="submit_button"/>
                <br>
                <!--<label>工资：<input class="smallinput" type="text" name="salary" value="不限" size="10">千/月</label>&nbsp;-->
                <label>选择：
                <select name="education">
                    <option value ="标题">标题</option>
                    <option value ="关键字">关键字</option>
                    <option value ="来源">来源</option>
                    <option value="作者">作者</option>
                </select>
                </label>
            </form>
        </div>

    </body>


</html>
